POSTGRES_DB=community_day
POSTGRES_USER=app
POSTGRES_PASSWORD=change_me
APP_ENV=dev
APP_SECRET=change_this_app_secret
JWT_PASSPHRASE=change_this_jwt_passphrase
CORS_ALLOW_ORIGIN=http://localhost:5173
MAILER_DSN=smtp://mailpit:1025

